* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;

    --gray-100: #AFAFAF;
    --gray-200: #525252; //Divisor
    --gray-700: #15171b; //Background do header
    --gray-900: #111113; //Background body;

    --blue-900: #1fa4e5; //CTA - Buttons
    --yellow-500: #FFBE16;
}

body {
    background: var(--gray-900);
}
